---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Catalog from '../components/Catalog.astro';
import Occasions from '../components/Occasions.astro';
import Services from '../components/Services.astro';
import QuoteForm from '../components/QuoteForm.astro';
import Footer from '../components/Footer.astro';
import CartDrawer from '../components/CartDrawer.astro';
import CheckoutModal from '../components/CheckoutModal.astro';
---

<Layout title="Boutique Floral">
  <Header />
  <CartDrawer />
  
  <main>
    <Hero />
    <Catalog />
    <Occasions />
    <Services />
    <QuoteForm />
	<CheckoutModal />
  </main>
  
  <Footer />
</Layout>